flask
flask-cache
flask-login
flask-markdown
psycopg2-binary
pyyaml
pyflakes
unittest2
pytest
pytest-cov
pytest-xdist
cython
markupsafe
git+https://github.com/JohnCremona/conrey-dirichlet-characters.git@py3#egg=dirichlet_conrey
bcrypt
pymongo
